* {
    box-sizing: border-box;
}

.contanier {
    height: 4000px;
    width: 1000px;
    margin: auto;
}

.nav_block{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: red;
    height: 50px; 
    padding-top: 15px;
    width: 1000px;
}

.nav_a {
    font-size: 20px;
    display: inline-block;
}